<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    <title>Edit details</title>
  </head>
  <body>
    <h1>Edit</h1>
    


    <form action="#" method="POST">
         

        <div class="mb-3">
          <label for="first name" class="form-label mb-1" style="color:red; font-size:80%">First name</label>
          <input type="text" class="form-control" id="first name" required name="first name">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label mb-1" style="color:red; font-size:80%">Last name</label>
          <input type="text" class="form-control" id="last name" required name="last name">
        </div>

        <div class="mb-3">
            <label for="DOB" class="form-label mb-1" style="color:red; font-size:80%">Date of Birth(YYYY-MM-DD)</label>
            <input type="text" class="form-control" id="DOB" required name="DOB">
        </div>

        <div class="mb-3">
            <label for="Sex" class="form-label mb-1" style="color:red; font-size:80%">Sex(M/F)</label>
            <input type="text" class="form-control" id="Sex" required name="Sex">
        </div>


        <button type="submit" class="btn btn-success btn-lg rounded-pill" style="float:right" >Submit</button>
    </form>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  



    
  </body>
</html>