{% extends 'base.html' %}

{% block head %} <Title> Home </Title> {% endblock %}

{% block body %}

    {% if usr %}
        <div class="container-md border">
        <h1> Welcome {{ type }}, {{ data[1] }} &nbsp;{{ datat[2] }}, user id {{ usr }}</h1>
        </div><br/>


        <div class="container-md border">
        <table class="table">
      <thead>
        <tr>
          <th scope="col">Customer ID</th>
          <th scope="col">Full Name </th>
          <th scope="col">DOB</th>
          <th scope="col">Sex</th>
          <th scope="col">Email</th>
          <th scope="col">Phone number</th>
            <th scope="col">Address</th>

        </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">{{data[0]}}</th>
               <td>{{data[1]}} &nbsp;&nbsp; {{data[2]}}</td>
               <td>{{data[3]}}</td>
               <td>{{data[4]}}</td>
               <td>{{data[5]}}</td>
               <td>{{data[6]}}</td>
              <td>{{data[7]}}, &nbsp;&nbsp; {{data[8]}}, &nbsp;&nbsp; {{data[9]}}, &nbsp;&nbsp; {{data[10]}}</td>
          </tr>


      </tbody>
    </table>
        </div>

    {% else %}
        <div class="container-md border">
        <h1> Welcome, please login </h1>
        </div>
    {% endif %}

{% endblock %}